h1 {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.pokedex-div {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 50px;
  row-gap: 30px;
}